import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
#index level
#Hàm zip() trong Python trả về một đối tượng zip, 
#là một iterator dạng danh sách các tuple kết hợp các phần tử từ các iterator (được tạo thành từ các iterable) khác.
outside=["G1","G1","G1","G2","G2","G2"]
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df=pd.DataFrame(randn(6,2),hier_index,["A","B"])

In [9]:
df

             A         B
G1 1  0.461852 -1.100906
   2  1.258247 -1.118106
   3  0.838118 -2.002403
G2 1 -0.054367 -1.033602
   2  1.690058  1.185185
   3  1.923128 -0.120742

In [10]:
df.loc["G1"]

          A         B
1  0.461852 -1.100906
2  1.258247 -1.118106
3  0.838118 -2.002403

In [11]:
df.loc["G1"].loc[1]

A    0.461852
B   -1.100906
Name: 1, dtype: float64

In [12]:
df.loc["G1"].loc[1,"A"]

0.46185216459963174

In [13]:
df.index.names

FrozenList([None, None])

In [14]:
df.index.names=["Groups","Num"]

In [15]:
df

                   A         B
Groups Num
G1     1    0.461852 -1.100906
       2    1.258247 -1.118106
       3    0.838118 -2.002403
G2     1   -0.054367 -1.033602
       2    1.690058  1.185185
       3    1.923128 -0.120742

In [ ]:
#lấy giá trị G2-cột B

In [18]:
df.loc["G2"].loc[2]["B"]

1.1851854807074793

In [19]:
df.xs(1,level="Num")

               A         B
Groups
G1      0.461852 -1.100906
G2     -0.054367 -1.033602